<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Home Page</title>
    <meta name="chess" content="chess">
    <meta name="author" content="SitePoint">
    <script src="/socket.io/socket.io.js"></script>


    <!--[if lt IE 9]>

    <![endif]-->
</head>

<body>
    <h1>Hi</h1>
</body>
</html>